.img{
    width: 351px;
     height: 113px;
    padding-left: 500px;
    padding-top: 0px;
}
center{
    width:90%;
    background-color: rgb(239, 239, 239);
    margin: auto;
    margin-bottom: 1px;
    box-sizing: border-box;
    }
   .area{
    width: 90%;
    text-align: center;
    margin-top: 1px;
    display: block;
    text-align: -webkit-center;
    margin: auto;
}
   .area-1{
    width: 35.7%;
    float:left;
    background-color:#7EE5DA;
    height: 80px;
    text-align: center;
   }
   .area-2 {
    width: 23%;
    float:left;
    background-color: #70CCC2;
    margin-left: 2px;
    font-size: small;
    height: 80px;
   }
   .area-3 {
    width: 40.9%;
    float: left;
    background-color:#62B3AA;
    padding: 1px;
    height: 80px;
    font-size: small;
    margin-left: 1px;
   }
   .footer {
    text-align: center;
    padding-top: 100px;
    font-size: small;
   }













